@page
@model StardekkMediorFullstackDeveloper.Pages.Rooms.AddModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Room</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomViewModel.CreationDate" class="control-label"></label>
                <input asp-for="RoomViewModel.CreationDate" class="form-control"/>
                <span asp-validation-for="RoomViewModel.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomViewModel.RoomNumber" class="control-label"></label>
                <input asp-for="RoomViewModel.RoomNumber" class="form-control" />
                <span asp-validation-for="RoomViewModel.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomViewModel.Name" class="control-label"></label>
                <input asp-for="RoomViewModel.Name" class="form-control" />
                <span asp-validation-for="RoomViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
