@page
@model StardekkMediorFullstackDeveloper.Pages.Rooms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Room.Id" />
            <div class="form-group">
                <label asp-for="Room.CreationDate" class="control-label"></label>
                <input asp-for="Room.CreationDate" class="form-control" />
                <span asp-validation-for="Room.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Name" class="control-label"></label>
                <input asp-for="Room.Name" class="form-control" />
                <span asp-validation-for="Room.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.RoomNumber" class="control-label"></label>
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
