@page
@model StardekkMediorFullstackDeveloper.Pages.Amenities.DetailsModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Amenity Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amenity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amenity.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./List">Back to List</a>
</div>
