@page
@model StardekkMediorFullstackDeveloper.ListModel
@{
    ViewData["Title"] = "List";
    ViewData["ShowHeader"] = true;
}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var amenity in Model.Amenities)
            {
                <tr>
                    <th scope="row"><code>@amenity.Id</code></th>
                    <td>@amenity.Name</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@amenity.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<a class="btn btn-secondary" asp-page="/amenities/add">Add amenity</a>

